

body {
    padding: 20px;
    background-color: black;
    color: greenyellow
}

li {
    list-style-type: square;
    margin-bottom: 10px;
}

footer, a {
    text-align: center;
    color: rgb(255, 105, 105);
    padding-top: 100px;
  }