

body {
    padding: 20px;
    background-color: grey;
    color: greenyellow
}

li {
    list-style-type: square;
    margin-bottom: 10px;
}

a {color: palegreen;}

footer {
    text-align: center;
    color: pink;
    padding-top: 100px;
  }