

body {
    padding: 20px;
    background-color: grey;
    color: greenyellow
}

li {
    margin-bottom: 10px;
    color: pink
}

a {color: palegreen;}

footer {
    text-align: center;
    color: pink;
    padding-top: 100px;
  }