body {
 padding: 20px;
}

p {
 padding-left: 40px;
 padding-right: 0px;
}

ul {
 padding-left: 5%;
}

table, th, td {
 border: 1px solid black;
 text-align: center;
 align-items: center;
}

div {
 padding-left: 100px;
}