body {
    padding: 40px;
    padding-right: 90px;
}

h4 {padding-top: 30px;}

p {
 padding-left: 10px;
 padding-right: auto;
}

ul {padding-left: 5%;}

table, th, td {
 border: 1px solid black;
 text-align: center;
 align-items: center;
}

div {padding-left: 100px;}

footer {
    text-align: center;
    color: rgb(255, 105, 105);
    padding-top: 100px;
}